<input type="checkbox" id="menu" />
<label for="menu" class="menu">
	<span></span>
	<span></span>
	<span></span>
</label>

<div class="nav">
	<ul>
    <li><a class="link-ext" href="/"><span>home</span></a></li>
		<li><a class="link-ext" href="/about"><span>about</span></a></li>
		<li><a class="link-ext" href="{{site.linkedIn}}" target="_blank"><span>linkedIn</span></a></li>
		<li><a class="link-ext" href="{{site.github}}" target="_blank"><span>github</span></a></li>
		<li><a class="link-ext" href="{{site.codepen}}" target="_blank"><span>codepen</span></a></li>
	</ul>
</div>
