// 
// TODO: cleanup
//

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');
// @import url('https://fonts.googleapis.com/css?family=Lato');

// colors

$bgColor: #262529;
// $frColor: #dfdfdf;
$blue: #4197e6;
$frColor: #fff;
$white: #fff;
$whiteTransparent: rgba(255,255,255,0.4);
$whiteOpaque: rgba(255,255,255,0.7);
$whiteOpaquePlus: rgba(255,255,255,0.9);
$black: #000;
$blackTransparent: rgba(0,0,0,0.4);
$blackOpaque: rgba(0,0,0,0.7);
$blackOpaquePlus: rgba(0,0,0,0.9);
$homeMenu: #8b2323;
$aboutMenu: #f1ede9;
$smallText: #464340;
$link: #464340;
$linkHover: #7693a0;
$excerpt: #a09c98;
$fade: #d0c2ba;
$largeText: #464340;
$titleHeading: #464340;
$textShadowBlackOpaque: rgba(0,0,0,0.3);

$lgScreen: 1200px;
$mdScreen: 960px;
$smScreen: 480px;


// metrics

$containerWidth: 800px;

body {
  font-family: 'Work Sans', Helvetica, Sans-serif;
  color: $smallText;
  margin: 0;
}

a {
  text-decoration: none;
  color: $link;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: $linkHover;
}

.wrapper {
  // min-width: 420px;
}


.menu {
	position: fixed;
	top: 32px;
	right: 32px;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 8px $blackTransparent;
	transition: transform 0.3s;
	cursor: pointer;
	z-index: 100;
	
	span {
		position: relative;
		display: block;
		width: 50%;
		height: 2px;
		background-color: #000;
		transition: transform 0.3s;
		z-index: 200;
		
		&:nth-of-type(1) {
			transform: translateY(-5px);
		}
		
		&:nth-of-type(3) {
			transform: translateY(5px);
		}
	}
}

#menu {
	display: none;

	&:checked ~ .menu {
		background-color: transparent;
		transition: transform 0.3s ease;
    box-shadow: none;
		
		span {
			background-color: #000;
			transition: transform 0.3s ease;

			&:nth-of-type(1) {
				transform: translateY(1px) rotate(45deg);
			}

			&:nth-of-type(2) {
				display: none;
			}

			&:nth-of-type(3) {
				transform: translateY(-1px) rotate(-45deg);
			}
		}
	}

	&:checked ~ .nav {
    opacity: 1;
    bottom: 0;
    // overflow: auto;
    height: 100%;
	}
}

.nav {
  transition: all 0.3s;
  position: fixed;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  text-align: right;
  background: $whiteOpaquePlus;
  overflow: hidden;

  ul {
    margin: 96px 32px 0;
    display: inline-block;
    padding: 0;
    li {
      list-style-type: none;
    }
  }

  a {
    color: $black;
    display: inline-block;
    margin: 16px 8px;
    padding: 8px;
    font-size: 1.8em;
    position: relative;
    text-shadow: 1px 1px $textShadowBlackOpaque;
    
    &:hover span:before{
      width: 100%;
    }

    span{
      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        background: $black;
        bottom: 0;
        left: 0;
        width: 0;
        right: 0;
        margin: auto;
        transition: 0.3s;
      }
    }
  }

  a:hover span:before{
    width: 100%;
  }
}

.header {
  position: relative;
  height: auto;
  background-color: $bgColor;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 300px;
  overflow: hidden;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.7) 100%);
  }

  .heading {
    position: absolute;
    top: 256px;
    left: 0;
    right: 0;
    padding: 0 24px;
    text-align: center;
    font-style: italic;
    color: $excerpt;
  }
  
  .title-wrapper {
    position: absolute;
    height: 128px;
    left: 0;
    right: 0;
    bottom: 64px;
    text-align: center;
  }
  
  .title-content{
    position: absolute;
    text-align: center;
    top: 24px;
    left: 0;
    right: 0;
  }
  
  .image-watermark {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $blue;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 8px;
    border-radius: 8px 0 0 0;
    background: $white;
  }
}

.slope {
  width: 100%;
  position: absolute;
  height: 156px;
  background-color: $frColor;
  bottom: 0;
}

$slopeRot: 10deg;

.slope-lt {
  right: 50%;
  transform: rotate(-$slopeRot);
  transform-origin: 100% 0;
}

.slope-rt {
  left: 50%;
  transform: rotate($slopeRot);
  transform-origin: 0 0;
}

.profile-head {
  // filter: drop-shadow(0px 2px 4px rgba(193, 185, 176, 0.5));
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.profile-pic:before {
  content: "";
  display: block;
  position: absolute;
  background: url('https://s.cdpn.io/profiles/user/1400522/512.jpg?1537866711') center/ cover;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  -webkit-clip-path: polygon(45% 0, 86% 7%, 100% 54%, 72% 96%, 5% 86%, 7% 16%);
  clip-path: polygon(45% 0, 86% 7%, 100% 54%, 72% 96%, 5% 86%, 7% 16%);
}

.profile-pic {
  position: absolute;
  background: $frColor;
  width: 156px;
  height: 156px;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
/*   border-radius: 100%; */
  -webkit-clip-path: polygon(45% 0, 86% 7%, 100% 54%, 72% 96%, 5% 86%, 7% 16%);
  clip-path: polygon(45% 0, 86% 7%, 100% 54%, 72% 96%, 5% 86%, 7% 16%);
}

.title-content {
  padding: 0 16px;

  .title-text {
    color: #fefefe;
    font-size: 2.5em;
    text-shadow: 2px 2px $textShadowBlackOpaque;
    @media screen and (max-width: $mdScreen) {
      font-size: 2em;
    }
    @media screen and (max-width: $smScreen) {
      font-size: 1.4em;
    }
  }

  .title-sub {
    margin-top: 8px;
    font-size: 1.4em;
    color: #fefefe;
    font-style: italic;
    text-shadow: 1px 1px $textShadowBlackOpaque;
    @media screen and (max-width: $mdScreen) {
      font-size: 1.4em;
    }
    @media screen and (max-width: $smScreen) {
      font-size: 0.8em;
    }
  }
}


.menu {
  
}

.content {
  background-color: $frColor;
  // min-height: 400px;
  margin-top: 32px;
  position: relative;
}

.container {
  max-width: $containerWidth;
  padding: 24px 24px 48px;
  margin: auto;
}

.separator:before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% - 16px);
  max-width: 900px;
  // min-width: 420px;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(118,147,160,1) 50%, rgba(255,255,255,0) 100%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  top: -20px;
}

.content-list {
  
}

.content-item {
  margin-bottom: 32px;

  .content-title {
    font-size: 28px;
    
    &:hover {
      span:before {
        width: calc(100% + 24px);
        left: 0;
        opacity: 1;
      }
    }

    span {
      position: relative;
      padding-bottom: 2px;
      
      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        background: $linkHover;
        width: 0;
        bottom: 0;
        left: -12px;
        opacity: 0;
        transition: 0.3s;
      }
    }
  }
  
  .content-excerpt {
    color: $excerpt;
    padding: 8px 0;
    font-size: 18px;
  }

  .content-subtitle {
    color: $fade;
  }
}

.content-post {
  h2, h3, h4, h5 {
    margin: 45px 0 25px;
  }
  p {
    font-size: 1.0rem;
    line-height: 2.0em;
    word-wrap: break-word;
  }
  ul li, ol li {
    font-size: 1.0rem;
    line-height: 2.0em;
    word-wrap: break-word;
  }
  .img-container {
    text-align: center;
    margin: 32px 0;
    img {
      max-width: 100%;
    }
    .img-caption{
      margin-top: 16px;
      color: $smallText;
      font-size: 14px;
    }
  }
}